<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{#if infoHome}}
  <div class="message">
    <h3 class="message-center">{{infoHome}} </h3>
  </div>
  {{/if}}

    {{{body}}}
  </body>
</html>
